<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ugorji.android.conversationbackup">
    <!--
    do not specify versionCode, versionName or uses-sdk in AndroidManifest.xml anymore.
    Instead, keep them in build,gradle, and have it automatically created.
    Gradle allows us to have multiple setups, without changing core files.
    
            android:versionCode="10"
            android:versionName="1.2.2"
            uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21"
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"><!-- remove for production: android:debuggable="true", consider: android:theme="@style/AppTheme"  TBD -->
        <activity
            android:name="net.ugorji.android.conversationbackup.HomeActivity"
            android:label="@string/home_activity_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="net.ugorji.android.androidconversationbackup.UPDATE_PROGRESS" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="ugorji.net"
                    android:pathPrefix="/project/android-conversation-backup" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.ugorji.android.conversationbackup.ArchivesActivity"
            android:label="@string/archives_activity_name">
            <intent-filter>
                <action android:name="net.ugorji.android.androidconversationbackup.ARCHIVES" />
            </intent-filter>
        </activity>

        <service android:name="net.ugorji.android.conversationbackup.ProcessingService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

    <!-- Have to write the archive somewhere -->
    <!-- uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" / -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!-- uses-permission android:name="android.permission.READ_PHONE_STATE" / -->
    <!-- needed to get display name for a given number -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--  permissions below allow deleting conversations after backup -->
    <!-- WRITE_SMS permission is removed from Marshmallow (6.0 2016) -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!-- uses-permission android:name="android.permission.WRITE_CONTACTS" -->
    <!-- <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" /> -->
</manifest>

